* {
    padding: 0px;
    margin: 0px;
}

.questiontable {
    margin: 0 auto;
    margin-bottom: 500px;
    border-collapse: collapse;
    th, td {
        border: 1px solid #ccc;
    }
    .id {
        padding: 0 5px 0 5px;
        color: #ddd;
    }
    .enwords {
        padding-right: 5px;
        width: 200px;
        text-align: right;
    }
    .jpwords {
        width: 300px;
        padding-left: 20px;
        &:hover {
            cursor: text;
        }
    }
}

.jpcontents {
    width: 100%;
    opacity: 0;
    &.disp {
        opacity: 1;
    }
}