* {
    padding: 0px;
    margin: 0px;
}

.questiontarea {
    width: auto;
    text-align: center;
    margin-bottom: 500px;
}

.questiontable {
    margin: 0 auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    th, td {
        border-bottom: 1px solid #ccc;
    }
    .id {
        padding: 0 5px 0 5px;
        color: #ddd;
    }
    .enwords {
        padding-right: 5px;
        width: 200px;
        text-align: right;
        &:hover {
            cursor: pointer;
        }
    }
    .jpwords {
        padding-left: 5px;
        width: 300px;
        text-align: left;
    }
}

.jpcheck {
    float: left;
}

.jpiso {
    float: left;
    margin: 0 6px 0 6px;
}

.jpcontents {
    width: 100%;
    padding-left: 14px;
    opacity: 0;
    &.disp {
        opacity: 1;
    }
}

.questionsubmit {
    padding: 10px;
    font-size: 24px;
}